.modal-product {
    background-color: #FFF;
    width: 900px;
    max-width: calc(100% - 16px);
    position: relative;
    border-radius: 5px;
    animation: modalFaceIn ease 0.4s;
}


.modal_select-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-control {
    margin-bottom: 10px;
}

.modal-left {
    margin-right: 16px;
}

.modal-btn {
    justify-content: flex-end;
}

.modal-input, .modal-select {
    margin: 0;
}

.modal-textarea {
    margin: 0;
}

.table-imgs {
    width: 60px;
    height: 80px;
    object-fit: contain;
    border-radius: 5px;
    font-size: 10px;
}

.color-imgs {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 5px;
}